.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.content {
  flex: 0.75;
}

/* new post styling */
.newPost {
  padding: 25px 10px;
}

#newPostText {
  width: 50%;
  height: 36px;
}

.login {
  border-radius: 10%;
  width: 50%;
  background-color:rgb(238, 207, 34);
}

/* sidebar styling */

.sidebar{
  padding: 25px 10px;
  flex: 0.25;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 7px;
  cursor: pointer;
}

.sidebar-option:hover {
  background-color:rgb(255, 254, 221);
  border-radius: 10px;
}

/* Nav bar styling */
